ul { list-style-type: none; margin: 4px 0px 0px 1em; padding: 0px 0px 0px 52px; }
li { margin-left: 2em; text-indent: -2em; }
img { border: solid black 1px; margin: 4px; vertical-align: middle; }
/*img.a { float: left; }
img.b { float: right; }*/
img.userpic { position: relative; float: left; left: 0ex; top: 0ex; }
h1 { border-bottom: double black 3px; }
.image { border-bottom: dotted black 1px; margin-bottom: 1ex; padding-bottom: 1ex; }
h1 span { font-size: x-small; font-weight: normal; float: right; }
.meta {
	background: #cccccc;
	-moz-border-radius: 1ex;
	-webkit-border-radius: 1ex;
	border-radius: 1ex; 
	max-width: 100%;
	overflow-x: hidden;
	padding-right: 1ex;
}
.meta span { font-weight: bold; }
.meta li { white-space: nowrap; }
.meta li.tags { white-space: normal; }
#footer { font-size: small; clear: both; margin-top: 1ex;}
input.code {
	background: #ffc;
	border: solid black 1px;
	padding: 2px;
	font-family: Monospace;
}
