h1 { text-align: center; }
h2 { border-bottom: double black 3px; }

.photo {
    border-top: solid black 1px;
    padding: 1em 0;
    vertical-align: top;
    clear: left;
}

h3 { margin: 0; padding: 0; }

.image img {
    max-width: calc(100% - 10em);
    float: left;
    margin: 0 1em 1em 0;
}

.buddy {
    float: right;
    margin: 0 0 1ex 1ex;
}

.tags ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tags li {
    display: inline;
    margin: 0;
    padding: 0;
}

.tags {
    margin: 1em 0;
}

.content {
    font-size: small;
    font-style: italic;
}

.content img {
    display: none;
}