<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Flickr {{tag.title() if tag else 'Random'}} Image Generatr</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head><body>

<h1>The <a href="http://flickr.com/">Flickr</a> {{ tag.title() if tag else 'Random' }} Image Generatr</h1>



<h2>About</h2>

<p>This page simply reformats the <a href="https://www.flickr.com/services/feeds/">Flickr public RSS feed</a> for purposes of finding inspiration through random exploration. These images are not being copied or stored in any way by this website, nor are any links to them or any metadata about them. All images are &copy; their owners unless otherwise specified.</p>

<p>This site is a <a href="https://beesbuzz.biz/">busybee project</a> and is supported by the <a href="https://beesbuzz.biz/tipjar">generosity of viewers like you</a>.</p>

<p>

{% for item in feed.entries %}
<div class="photo">
  <div class="image">
  {% for photo in item.enclosures %}
    <a href="{{item.link}}"><img title="{{item.title}}" src="{{photo.href.replace('_b.','_m.')}}"></a>
  {% endfor %}
  </div>

<div class="description"><div>
  {% if item.flickr_buddyicon %}
  <a href="{{item.author_detail.href}}"><img class="buddy" src="{{item.flickr_buddyicon}}" title="{{item.author_detail.name}}"></a>
  {% endif %}

  <h3><a href="{{item.link}}">{{item.title}}</a> by <a href="{{item.author_detail.href}}">{{item.author_detail.name}}</a>
  </h3>



  <div class="license">
    {% set license = item.links|selectattr('rel', 'equalto', 'license') %}
    {% for l in license %}
        {% if 'publicdomain' in l.href %}
            Released to the <a href="{{l.href}}">public domain</a>
        {% elif 'creativecommons.org/licenses/' in l.href %}
            Available under a <a href="{{l.href}}">Creative Commons
            {{l.href.split('/')[4]}} license</a>
        {% else %}
            Unrecognized license: <a href="{{l.href}}">{{l.href}}</a>
        {% endif %}
    {% else %}
      &copy; <a href="{{item.author_detail.href}}">{{item.author_detail.name}}</a>, all rights reserved.
    {% endfor %}
</div>

  <div class="content">{{filter_description(item.description)}}</div>

  {% set tags=item.tags|selectattr('term')|list %}
  {% if tags %}
  <div class="tags">See more: <ul>
  {% for tag in tags %}
  <li><a rel="nofollow" href="{{url_for('flrig', tag=tag.term)}}">{{tag.term}}</a></li>
  {% endfor %}
  </ul></div>
  {% endif %}
</div></div>
</div>
{% endfor %}


</body>
</html>
